@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
  display: flex;
  justify-content: center;
  width: 100vh;
  height: 50px;
  max-width: 80%;
  font: poppins;
  font-size: 24px;
  font-weight: 500;
  background-color: black;
  border: 3px solid aquamarine;
}

.navigation {
  margin-top: 10px;
}

.navigation a {
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: aquamarine;
  letter-spacing: 2px;
  padding: 5px;
  margin: 5px;
}

.navigation a:hover {
  color: whitesmoke;
}

.foot {
  display:flex;
  background-color: black;
  border: 3px solid aquamarine;
  height: 125px;
  width: 100vh;
  max-width: 80%;
  padding: 10px;
}

.foot a {
   text-decoration: none;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding-top: 10px;
   color: aquamarine;
}

.foot a:hover {
  color: whitesmoke;
}

.footnav a {
  display: grid;
  text-decoration: none;
  font-size: 14px;
}

.fa-square-facebook {
  font-size: 50px;
  text-decoration: none;
  margin: 15px auto;
  padding-left: 15px;
}

.welcome {
  font-size: 48px;
}

.info {
  font-family: poppins;
  font-size: 24px;
  display: grid;
  width: 786px;
}

body {
  display: grid;
  justify-content: center;
}

h1 {
  font-family: poppins;
  font-weight: 600;
}

p, .bold {
  font-family: poppins;
  font-weight: normal;
  text-decoration: none;
}

.logo {
  display:flex;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 30px;
  padding-right: 170px;
  opacity: 50%;
}