@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

header {
  display: flex;
  justify-content: center;
  width: 100vh;
  height: 50px;
  max-width: 80%;
  font: poppins;
  font-size: 24px;
  font-weight: 500;
  background-color: black;
  border: 3px solid aquamarine;
}

header img {
  resize: calc(.5);
}

.navigation a {
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: aquamarine;
  letter-spacing: 2px;
  padding: 5px;
  margin: 1em;
}

.navigation a:hover {
  color: whitesmoke;
}

.foot {
  display:flex;
  background-color: black;
  border: 3px solid aquamarine;
  height: 50px;
  width: 100vh;
  max-width: 80%;
}

.foot a {
   display: flex;
   justify-content: center;
   padding-top: 10px;
   color: aquamarine;
}

.foot a:hover {
  color: whitesmoke;
}