@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: poppins;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  max-width: 80%;
  height: 75px;
  font-size: 24px;
  font-weight: 500;
  background-color: #014f48;
  border: 3px solid aquamarine;
}

.navigation {
  margin-top: 15px;
}

.navigation a {
  display: flexbox;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: none;
  color: aquamarine;
  letter-spacing: 2px;
  padding: 5px;
  margin: 10px 10px;
}

.navigation, .foot a:hover {
  color: whitesmoke;
}

.foot {
  display:flex;
  justify-content: space-evenly;
  background-color: #014f48;
  border: 3px solid aquamarine;
  height: 75px;
  width: 100vw;
  max-width: 80%;
  color: aquamarine;
}

.footnav a {
  color: aquamarine;
  text-decoration: none;
  max-width: 80%;
  padding-left: 10px;
  padding-top: 12px;
  margin-left: 50px;
}

.fa-square-facebook {
  font-size: 50px;
  text-decoration: none;
  padding-left: 15px;
  justify-content: center;
}

.fa-linkedin {
  font-size: 50px;
  text-decoration: none;
  padding-left: 15px;
  justify-content: center;
}

/* Everything above this comment every page should have these rules */

.welcome {
  font-family: poppins;
  font-size: 48px;
  text-decoration: none;
  justify-content: left;
}

body {
  display: grid;
  justify-content: center;
  /* background-image: url(Images/logo.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; */
}

h1 {
  font-size: 48px;
  font-weight: 600;
  text-decoration: none;
  margin-left: 25%;
}

h2 {
  font-size: 32px;
  margin-right: 25px;
  margin-bottom: 25px;
}

div, .container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 80%;
  }

.container {
  overflow: scroll;
}

.container::-webkit-scrollbar {
  scroll-behavior: smooth;
}

div, .container, .carousel {
  display: flex;
  flex-direction: wrap;
}

.carousel-item {
    width: 100vh;
    height: 350px;
    margin: 5px;
    border: 3px solid aquamarine;
}