@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: poppins;
  width: 100%;
  background: linear-gradient(aquamarine, #014f48);
  overflow-x: hidden;
}

header {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 75px;
  font-size: 24px;
  font-weight: 500;
  background: linear-gradient(aquamarine, #014f48);
  border: 3px solid aquamarine;
}

.navigation {
  display: flex;
  margin-top: 15px;
}

.navigation a {
  display: flex;
  /* flex-direction: row; */
  justify-content: space-evenly;
  text-decoration: none;
  color: aquamarine;
  letter-spacing: 2px;
  padding: 5px;
  margin: 10px 10px;
}

#navlogo {
  height: 70px;
  width: 75px;
  margin-bottom: 1px;
}

.foot {
  display:flex;
  justify-content: space-evenly;
  background-color: #014f48;
  background: linear-gradient(aquamarine, #014f48);
  border: 3px solid aquamarine;
  height: 75px;
  width: 100vw;
  color: aquamarine;
}

.footnav a {
  color: aquamarine;
  text-decoration: none;
  /* max-width: 80%; */
  padding-left: 10px;
  padding-top: 12px;
}

.navigation a:hover {
  color: whitesmoke;
}

.footnav a:hover {
  color: whitesmoke;
}

.fa-square-facebook {
  font-size: 50px;
  text-decoration: none;
  padding-left: 15px;
  padding-top: 12px;
  justify-content: center;
}

.fa-linkedin {
  font-size: 50px;
  text-decoration: none;
  padding-left: 15px;
  padding-top: 12px;
  justify-content: center;
}